<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    {{>header}}
    {{!-- </h1>{{title}}</h1> --}}
    <p>create by {{name}}</p>
    <form>
        <input placeholder="location">
        <button>Search</button>
    </form>

    <p id="msg-1"></p>
    <p id="msg-2"></p>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>