body {
    color: black;
    font-family: arial;
}
img {
width: 300px;
}
input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background : #888888;
    color : white;
    padding: 8px;
}